body{
	height: 100%;
	width: 100%;
}

.wrapper{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;	
	text-align: center;
}

.errorText{
	font-family: "calendar note tfb";
	font-size: 5em;
	margin-bottom: 0;
}

.errorSub{
	font-family: "Arvo";
	font-weight: normal;
}

.errorHash{
	font-family: "Consolas";
	font-weight: normal;
}