/*Login box*/
	.tile{
		padding: 30px;
		position: absolute;
		top: 50%;
		width: 250px;
		transition: all 0.2s ease-in-out;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	.tile:hover, .shadowed {
		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
		transition: all 0.2s ease-in-out;
	}

	.nameLabel{
		font-family: brandonBlack;
		text-transform: uppercase;
		display: inline;
		position: relative;
		font-size: 1.5em;
		color: #5ADBFF;
	}

	.label{
		font-family: roboto;
		position: relative;
		margin: 5px 0;
		color: #aaa;
	}

	.labelFocus{
		color: #fff;
		transition: all 0.2s ease-in-out;
	}

	.regText{
		font-family: roboto;
		padding: 5px;
		position: relative;
		margin-bottom: 20px;
		width: 100%;
		background-color: transparent;
		border: none;
		border-bottom: 3px solid #aaa;
		color: white;
		transition: all 0.2s ease-in-out;
	}

	.regText:focus{
		outline-width: 0;
		border-bottom: 3px solid #fff;
		transition: all 0.2s ease-in-out;
	}

	.regSubmit{
		padding: 10px 20px;
		margin-top: 10px;
		text-align: center;
		width: 100%;
		text-decoration: none;
		background-color: #F7FFF7;
		text-align: center;
		letter-spacing: .5px;
		border: none;
		transition: all 0.2s ease-in-out;
	}
	
	.regSubmit:hover{
		-webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
		transition: all 0.2s ease-in-out;
		cursor: pointer;
	}
	
	form{
		position: relative;
	}

	.tile > a {
		text-decoration: none;
		color: #CCFBFE;
		display: inline-block;
		font-size: .9em;
	}

	.tile > a:hover{
		text-decoration: underline;
	}

	.regLink{
		display: inline;
		font-size: .9em;
	}