@font-face {
  font-family: brandonBlack;
  src: url('../font/Brandon_blk.otf');
}
@font-face {
  font-family: roboto;
  src: url('../font/Roboto-Regular.ttf');
}
@font-face {
  font-family: rockwell;
  src: url('../font/Rockwell.TTF');
}
@font-face{
	font-family: icomoon;
	src: url('../font/icomoon.ttf');
}
body{
		height: 100%;
		width: 100%;
		margin: 0;
		background-color: #f5f5f5;
		font-family: roboto;
	}

	.top{
		height: 50px;
		position: relative;
	}

	.bottom{
		position: relative;
		width: 100%;
	}

	.left{
		float: left;
	}

	.right{
		float: right;
	}
	
	.darkBlue{
		background-color: #354961;
		color: #fff;
	}

	.orange{
		background-color: #E84C3D; 
		color: #fff;
	}

	.gray{
		background-color: #6B5E62;
		color: #fff;
	}

	.xwhole{
		width: 100%;
	}

	.xhalf{
		width: 45%;
	}

/*navigation bar*/
	ul{
		list-style-type: none;
		height: auto;
	}

	.navBar{
		height: 100%;
		width: 100%;
		position: relative;
		background-color: #E84C3D;
		z-index:99;
		/*background-color: #77B6EA;*/
	}

	.navItem{
		padding: 20px;
		padding-top: 13px;
	}

	.navItem:not(.focus):hover{
		background-color: #83C9F4;
		cursor: pointer;
	}

	.navItem:hover > a{
		color: #fff;
	}

	.navItem > a{
		font-family: brandonBlack;
		text-transform: uppercase;
		text-decoration: none;
		color: #ccc;
	}

	.focus > a{
		color: #fff;
		border-bottom: 2px solid white;
	}

	.focus > a:hover{
		cursor: default;
	}