/*posting*/
	.postDiv{
		height: 100%;
		width: 30%;
		margin: 0;
		float: left;
		position: absolute;
		font-family: roboto;
	}		

	.postWrapper{
		height: 60%;
		width: 80%;
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		border-radius: 3px;
	}

	.profContent{
		margin-top: 50px;
		padding: 20px;
		padding-top: 50px;
		background-color: #E84C3D;	
		color: #fff;
		border-radius: 5px;
	}

	.profImg{
		border: 5px solid white;
		background-color: #CFC7D6;
		height: 100px;
		width: 100px;	
		margin: auto;
		position: absolute;
		right: 0;
		left: 0;
	}

	.fullname{
		display: inline-block;
		margin-bottom: 5px;
		font-family: rockwell;
		font-size: 1.3em;
	}

	.textContent{
		display: block;
		resize: none;
		font-family: roboto;
		font-size: .8em;
		width: 100%;
		height: 5em;
	}	
	.textSubmit{
		padding: 10px;
	}

/*messages*/
	.msgDiv{
		height: 100%;
		width: 70%;
		margin: 0;
		float: right;
		position: relative;
	}

	.msgWrapper{
		min-height: 150px;
		max-height: 300px;
		background-color: #6B5E62;
		margin: 20px;
		font-family: roboto, sans-serif;
		color: #fff;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);;
	}

	.msgContent{
		padding: 20px;
	}

	.userLink{
		display: inline;
		margin-right: 5px;
	}

	.msgContent > a {
		text-decoration: none;
		color: #CCFBFE;
	}
	
	.msgContent > .msgBody > img {
		max-height: 40%; 
		max-width: 40%;
	}

	.username{
		margin: 0;
		display: inline;
		margin-bottom: 5px;
	}

	.date{
		margin: 0;
		display: inline;
		font-size: 12px;
	}

	.msgBody{
		text-align: justify;
		display: block;
	}	

	.edit{
		margin-right: 10px;
	}

	.edit:before{
		content: "\e603";
		font-family: icomoon;
		font-size: 1.2em;
		margin-right: 5px;
	}

	.edit:hover, .delete:hover{
		color: #fff;
	}

	.delete:before{
		content: "\e604";
		font-family: icomoon;
		font-size: 1.2em;
		margin-right: 5px;
	}
	
	.pageNumbers{
		bottom: 0;
	    width: 100%;
	    text-align: center;
	    font-size: 20px;
	}
	
	.edit-info{
		display: none;
	}