/*Registration*/
	.regWrapper{
		height: 100%;
		width: 60%;
		position: relative;
		margin: auto;
		margin-top: 30px;
	}

	.tile{
		position: relative;
		height: auto;
		overflow: hidden;
		margin: 20px;
		margin-right: 0;
		transition: all 0.2s ease-in-out;
	}

	.tile:hover, .shadowed {
		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
		transition: all 0.2s ease-in-out;
	}

	.tileContent{
		height: auto;
		position: relative;
		margin: 20px;
	}

	.nameLabel{
		display: inline-block;
		margin: 0px;
		font-size: 1.2em;
		text-transform: uppercase;
	}

	.regText{
		padding: 5px;
		margin-right: 30px;
		margin-bottom: 20px;
	}

	.regSelect{
		margin-top: 10px;
	}

	.label{
		margin-bottom: 5px;
	}

	.accType{
		margin-top: 10px;
	}

	.regArea{
		display: block;
		resize: none;
		font-family: roboto;
		font-size: .8em;
		width: 100%;
		height: 8em;
		margin-top: 10px;
	}

	.regSubmit{
		margin-bottom: 20px;
		text-align:center;
	}