/*Sidebar*/
	.sideBar{
		width: 20%;
		height: 100%;
		position: absolute;
		left: 0;
	}

	.filterLabel{
		padding: 20px;
		padding-bottom: 0;
		display: block;
	}

	.filterContainer{
		width: 80%;
		margin-left: 20px;
		position: relative;
		overflow: auto;
	}

	.filter{
		height: 1.5em;
		margin: 10px;
		display: block;
		overflow: hidden;
		line-height: 1.5em;
	}

	.filter > a{
		text-decoration: none;
		color: #fff;
		float: right;
		margin-right: 10px;
	}

	.filter > a:before{
		content: '\e600';
		color: #fff;
		opacity: .5;
		font-family: icomoon;
		font-size: .5em;
		margin-left: 10px;
	}

	.filter > a:hover{
		opacity: 1;
	}

	.filterText{
		display: inline;
		margin: auto;
		margin-left: 10px;
		font-size: .9em;
		font-family: rockwell;
	}

	.and{
		background-color: #aaa;
	}

	.or{
		background-color: #aaa;
	}

	.regText{
		padding: 5px;
		position: relative;
		margin-bottom: 20px;
		margin-left: 20px;
		background-color: transparent;
		border: none;
		border-bottom: 3px solid #aaa;
		color: #000;
		font-size: 1em;
		transition: all 0.2s ease-in-out;
	}

	.regText:focus{
		outline-width: 0;
		border-bottom: 3px solid #000;
		transition: all 0.2s ease-in-out;
	}
/*Switch*/

.checkDiv{
	float: left;
	position: relative;
}
.label {
  width:50px;
  height:20px;
  background:#303f9f;
  box-shadow: inset 0 0 0 30px #4a4a4a;
  border-radius:30px;
  display:block;	
  margin-left: 20px;
  z-index:1;
  transition:all 300ms ease-in 0s;
}
#switch {
  position: absolute;
  left: 10px;

}
#switch:before {
  content:"";
  position:absolute;
  height:20px;
  width:20px;
  border-radius:50%;
  display:block;
  background:#303f9f;
  border:none;
  z-index:2;  
  box-shadow:inset 0 0 0 40px #5f5f5f,0 0 5px 0 #000;
  transition:box-shadow 500ms ease-in 0s, left 300ms ease-in 0s;
}
#switch:checked:before {
  left:40px;
  box-shadow:inset 0 0 0 0 #303f9f,0 0 5px 0 #000;
}
#switch:checked + label {
  box-shadow: inset 0 0 0 0 #4a4a4a;
}

/*Popup*/
.overlay{
	width: 100%;
	height: 100%;
	z-index: 10;
	position: relative;
}

.overlay:after{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: #000;
	opacity: 0.5;
	content: "";
}

.popupBox{
	position: relative;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	transform: translateY(50%);
	width: 300px;
	background-color: #fff;
	z-index: 11;
}

.filterBar{
	width: 100%;
	overflow: hidden;
}

.filterOption{
	width: 49%;
	float: left;
	border-bottom: 2px solid #aaa;
	cursor: pointer;
	text-transform: uppercase;
	font-family: brandonBlack;
	color: #aaa;
}

.focus{
	color: #000;
}

.filterOption:nth-child(1){
	border-right: 2px solid #aaa;
}

.filterCont{
	padding: 20px;
	overflow: hidden;
}

.popLabel{
	display: inline;
	margin: 20px;
	padding-bottom: 20px;

}

select{
	padding: 5px;
	margin: 10px;
}